# Ambientes virtuais
venv/
env/
ENV/
meu_ambiente_kivy/

# Bytecode Python
__pycache__/
*.py[cod]

# Arquivos temporários e do sistema
*.log
.DS_Store
Thumbs.db

# Arquivos que eu n identifiquei
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp
*.old
*.orig
*.rej
*.class
*.o
*.so
*.exe


# Arquivos de configuração do Kivy
.kivy/
*.kivy